<body>
	<style>
		table, th, td {
		   border: 1px solid black;
		   padding: 10px;
		}
	</style>
	<% if logged_in? %>
		<table>
			<tr>
				<th>id</th>
				<th>email</th>
			</tr>
			<% @subscribes.each do |s| %>
				<tr>
					<td><%= s.id %></td>
					<td><%= s.email %></td>
				</tr>
			<% end %>
		</table>
		<table>
			<tr>
				<th>id</th>
				<th>email</th>
				<th>subject</th>
				<th>message</th>
			</tr>
			<% @contacts.each do |c| %>
				<tr>
					<td><%= c.id %></td>
					<td><%= c.email %></td>
					<td><%= c.subject %></td>
					<td><%= c.message %></td>
				</tr>
			<% end %>
		</table>
		<%= button_to 'Log out', logout_path, method: :delete, class: 'btn btn-default' %>
		<% if flash[:notice] %>
			<script>
				bootstrapAlert('<%= flash[:notice].html_safe %>', 'alert-success');
			</script>
		<% end %>
	<% else %>
		<% controller.redirect_to root_path %>
	<% end %>
</body>